<section>
    <div class="">
      <form action="https://formsubmit.co/raulpinve@gmail.com" method="POST" class="grid gap-2" autocomplete="off">
        <!-- Elimina esto si usas backend propio -->
        <input type="hidden" name="_captcha" value="false" />
        <div>
            <label for="name" class="text-gray-300">Nombre: </label><br />
            <input type="text" id="name" name="name" class="w-full border border-gray-600 rounded-lg py-2 px-4" required />
        </div>
        <div>
            <label for="email" class="text-gray-300">Correo:</label><br />
            <input type="email" id="email" name="email" class="w-full border border-gray-600 rounded-lg py-2 px-4" required />
        </div>

        <div>
            <label for="message" class="text-gray-300">Mensaje:</label><br />
            <textarea id="message" name="message" rows="4" class="w-full border border-gray-600 rounded-lg py-2 px-4" required></textarea>
        </div>

        <div>
            <button type="submit" class="bg-gray-200 px-3 py-1 rounded-lg text-sm cursor-pointer text-gray-800">Enviar</button>
        </div>
    </form>
    </div>
  </section>