<header class="flex p-4 md:p-8 items-center w-full  max-w-[740px]  md:mx-auto text-white">
  <nav class="flex w-full justify-between opacity-90">
    <a href="#top">Inicio</a>
    <a href="#sobre-mi" class="hidden md:block">Sobre mí</a>
    <a href="#experiencia">Experiencia</a>
    <a href="#proyectos">Proyectos</a>
    <a href="#contacto">Contacto</a>
  </nav>
</header>
